<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:apollo="http://www.ctrip.com/schema/apollo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.ctrip.com/schema/apollo http://www.ctrip.com/schema/apollo.xsd">

    <!--使用默认的namespaces-->
    <apollo:config order="13"/>

    <!--使用自定义namespace(多个namespace用逗号分开),如果出现不同的namespace,将按照order优先级进行选择-->
    <apollo:config namespaces="apolloBean" order="12"/>

    <!--ApolloBean里面的值动态变化-->
    <bean id ="apolloBean" class="com.example.apollo.bean.ApolloBean">
        <property name="timeout" value="${timeout:11}"/>
        <property name="batch" value="${batch:12}"/>
    </bean>
</beans>